@media (min-width: 768px) {
	//HEADER

	.header {
		&__img {
			&-text {
				font-size: 2.9rem;
				&--bolder {
					font-size: 3.1rem;
				}
			}
		}
	}

	//HEROIMG

	.hero {
		&__img {
			background-image: url('../../dist/img/adventure-big.jpg');
			height: 250px;
			&-text {
				p {
					padding: 1em 3em;
					font-size: 3rem;
				}
			}
		}
	}

	//FOOTER

	.footer {
		&__top {
			flex-direction: row;
			justify-content: space-around;
			padding: 3em 0;

			.brand {
				margin-bottom: 1em;
			}

			&-links {
				flex-direction: row;
				width: auto;
			}

			&-link {
				margin: 0 1em;
				h4 {
					font-size: 2rem;
				}
				a {
					font-size: 1.7rem;
				}
			}
		}

		&__bottom {
			&-text {
				padding: 1.5em 0;
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 870px) {
	//OFFERS

	.offers {
		&__title {
			&-describe {
				font-size: 2.3rem;
			}
		}

		&__box {
			margin-top: 0em;

			&:first-child {
				margin-top: 0;
			}

			&--main {
				order: 0;
				margin-top: 0em;
			}
		}
	}
}
