@media (min-width: 576px) {
	//HEADER

	.header {
		&__img {
			&-text {
				font-size: 2.5rem;
				&--bolder {
					font-size: 2.7rem;
				}
			}
		}
	}

	//OFFERS

	.offers {
		&__box {
			margin-top: 1em;
			order: 0;

			&:first-child {
				margin-top: 1em;
			}

			&--main {
				order: 5;
				margin-top: 3em;
			}
		}
	}

	//OFFERS PAGE

	//PARKS IN NUMBER

	.data {
		&__card {
			margin: 0.4em 0.4em;

			&-icon {
				font-size: 4.4rem;
			}
			&-number {
				font-size: 2.7rem;
			}
		}
	}

	//CONTACT CARDS

	.contact {
		&__box--middle{
			order: 1;
		}
	}
}
