@import 'colors';
@import 'animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: $white;
	color: $black;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 78px;
	font-size: 62.5%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.brand {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5rem;
	text-decoration: none;
	color: $darker;

	&__title {
		font-size: 4rem;
		margin-left: 0.2em;
		font-weight: 500;
	}
}

.shadow-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -10;
}

.section-title {
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	font-size: 3.4rem;
}

//NAVIGATION

.hamburger {
	&__button {
		position: fixed;
		top: 0.5em;
		right: 1em;
		padding: 0.2em 0.4em;
		font-size: 3rem;
		font-weight: bold;
		color: $darker;
		background: transparent;
		border: none;
		cursor: pointer;
		z-index: 10000;

		&:focus {
			border: 2px solid $darker;
		}
	}
}

nav {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em 1.5em;
	background-color: #fff;
	z-index: 1000;

	.nav__main {
		display: none;
	}

	.nav__side {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		background-color: $white;
		transform: translateX(100%);
		transition: transform 0.5s;

		&--active {
			transform: translateX(0%);
		}

		&-link {
			position: relative;
			width: 100%;
			margin: 0.5em;
			padding: 0.5em;
			text-decoration: none;
			text-align: center;
			font-size: 3.5rem;
			color: $darker;
			cursor: pointer;
			transition: color 0.2s;
			z-index: 100;
		}

		&-link::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			z-index: 100;
		}

		&-link:hover::before {
			animation: sideLinksAnimation 0.2s forwards;
		}

		&-link:hover {
			color: $white;
		}
	}
}

//HEADER

.header {
	&__img {
		position: relative;
		width: 100%;
		height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: -20;

		&--home {
			background-image: url('../../dist/img/header-home-small.jpg');
		}

		&-text {
			position: absolute;
			top: 50%;
			left: 15%;
			font-size: 2.3rem;
			font-weight: 300;
			color: $white;
			z-index: 20;

			&--bolder {
				font-weight: bold;
				font-size: 2.5rem;
			}
		}
	}
}

//ABOUTUS

.aboutus {
	&__title {
		padding: 3em;
	}
	&__box {
		display: flex;
		flex-direction: column;
		padding: 0em 1em;

		&-img {
			object-fit: cover;
			margin-bottom: 1em;
		}
		&-text {
			h3 {
				margin-bottom: 0.2em;
				font-size: 2rem;
			}
			p {
				font-size: 1.6rem;
				line-height: 20px;
			}
		}
	}
}

//HEROIMG

.hero {
	position: relative;
	margin-top: 3em;
	&__img {
		position: relative;
		width: 100%;
		height: 200px;
		background-image: url('../../dist/img/adventure-small.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		z-index: -20;

		&-text {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			z-index: 20;

			p {
				padding: 1em 2em;
				font-size: 2rem;
				font-weight: bold;
				border: 1px solid $white;
				color: $white;
			}
		}
	}
}

//OFFERS

.offers {
	&__title {
		padding: 3em;

		&-describe {
			padding-top: 2em;
			font-size: 2rem;
			font-weight: 500;
			text-align: center;
		}
	}

	&__boxes {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;

		&-link {
			display: block;
			margin-top: 1.5em;
			font-size: 1.7rem;
			text-align: center;

			a {
				font-weight: bold;
				text-decoration: none;
				color: $black;
			}
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 290px;
		border-radius: 8px;
		box-shadow: 0px 0px 15px rgba(46, 46, 46, 0.4);
		margin-top: 3em;

		&:first-child {
			margin-top: 0;
		}

		&-title {
			margin: 1.5em;
			font-size: 2.5rem;
		}
		&-price {
			margin-bottom: 0.5em;
			font-size: 3.5rem;
			font-weight: bold;
		}
		&-lists-of-offers {
			list-style: none;
			font-size: 1.7rem;
			padding: 1em;

			.offers-in {
				i {
					color: $main-color;
				}
			}
			.offers-out {
				color: $disabled;
			}
		}
		&-btn {
			width: 70%;
			padding: 0.3em 0.6em;
			margin-bottom: 2em;
			margin-top: 1em;
			font-size: 2.2rem;
			border: none;
			color: $darker;
			background-color: $white;
			border-radius: 8px;
			box-shadow: 0px 0px 8px rgba(46, 46, 46, 0.4);
			cursor: pointer;
			transition: transform 0.3s;

			&--main {
				background-color: $main-color;
				box-shadow: 0px 0px 12px 1px $main-color;
			}

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}

//FOOTER

footer {
	margin-top: 3em;
	background-color: $light-white;
}

.footer {
	&__top {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0.5em;

		.brand {
			margin: 0.5em 0em;
		}

		&-links {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			margin-bottom: 2em;
		}

		&-link {
			h4 {
				padding: 1em 0em;
				font-weight: bold;
				font-size: 1.8rem;
			}
			a {
				display: block;
				text-decoration: none;
				color: $darker;
				padding: 0.5em 0;
			}
		}
	}

	&__bottom {
		width: 100%;
		border-top: 1px solid $darker;

		&-text {
			padding: 1em 0;
			text-align: center;
		}
	}
}

//OFFERS PAGE

//HEADER

.header {
	&__img {
		&--offers {
			background-image: url('../../dist/img/header-offers-small.jpg');
		}
	}
}

//PARKS IN NUMBER

.data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__title {
		padding: 3em;
		h2{
			text-align: center;
			font-weight: normal;
			font-size: 3.4rem;
		}
	}

	&__cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}

	&__card {
		width: 287px;
		margin: 0.4em;
		padding: 2em;
		border: 1px solid $black;
		box-shadow: inset 0px 0px 10px 0px rgba(66, 68, 90, 1);
		border-radius: 10px;

		&:nth-child(even) {
			background-color: $darker;
			color: $white;
			box-shadow: inset 0px 0px 10px 0px rgba(189, 188, 165, 1);
		}

		&-icon {
			font-weight: bold;
			font-size: 4rem;
			color: $main-color;
		}
		&-number {
			padding: 0.5em 0;
			font-weight: bold;
			font-size: 2.5rem;
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
